.jumbotron{
   background-image: url("imgs/pizza1.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   text-align: center;
   color: white;
   font-weight: bolder;
}

.info{
   text-align: center;
   font-weight: bolder;
}
.request{
   background-color: black;
   color: white;
   padding: 20px;
}
input{
   margin: 10px;
   padding: 10px;
   width: 30%;
}
.selectNai{
   margin-left: 30%; 
   width: 30%;
}
.selectNai p{
   text-align: center;
   margin-left: 100px;
}
.noDelivery{
   display: none;
}
.addressInput{
   display: none;
}
#confirmDetailsBtn{
   background-color: black;
   color: wheat;
   padding: 10px;
   width: 200px;
}
.show-details{
   margin: 15px;
   padding: 10px;
   background-color: thistle;
   display: none;
}
#proceedBtn{
   margin-top: 150px;
   width: 200px;
   background-color: black;
   color: wheat;
   padding: 10px;
}
button a{
   text-decoration: none;
   color: wheat;
}
   button a :hover{
        text-decoration: none;
        color: wheat;
   }