body{
   background-color: black;
}

.jumbotron{
   margin: 10px;
   text-align: center;
   color: white;
   background-image: url("imgs/pizza5.png");
   background-size: contain;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

#mainlogo{
   animation: bounce 2s infinite;
   padding: 0px;
   margin: 0px;
   object-position: center;
   border: 7px solid black;
   border-radius: 70%;
}

.jumbotron h1{
   padding: 30px 0px 20px 0px;
   border-bottom: 5px solid gold;
   border-radius: 70%;
   font-weight: bolder;
}
.jumbotron p{
   font-weight: bolder;
   color: black;
   font-size: 30px;
}
.container{
   background-color: white;
}

.addition{
   margin: 10px;
   background-color: black;
   color: gold;
   border-radius: 7px;
}
.addition p{
   padding: 30px;
   font-size: 25px;
   text-align: center;
}
.buttons{
   text-align: center;
   margin: 10px;
   padding: 10px;
   display: inline;
}
.buttons p{
   font-weight: bolder;
   font-size: 20px;
}
button{
   width: 120px;
   text-align: center;
   padding: 10px;
   margin: 40px;
   background-color: black;
   border: 3px solid gold;
   color: white;
   border-radius: 5px;
}
   button:hover{
      width: 120px;
      text-align: center;
      padding: 10px;
      margin: 40px;
      background-color: white;
      border: 3px solid black;
      color: black;
      border-radius: 10px;
      transition: all 1s ease-in-out;
   }
   /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }


    /* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}